In [2]:
# 리스트 생성

In [5]:
data_list = [1,2,3,4,5,6,7,8,9,10]
print(data_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
# type 명령으로 변수 형을 알 수 있다
print('변수 형:', type(data_list))

변수 형: <class 'list'>

In [8]:
# 1개의 원소를 출력한다. 0부터 시작하므로 [1]은 두 번째 원솟값이다.
print('두 번째 원소:', data_list[1])

두 번째 원소: 2

In [18]:
# len 함수로 원소의 개수를 출력.
# 여기에서는 1부터 10까지 10개의 원소가 있기 때문에 결과는 10이다.
print('원소의 개수:', len(data_list))

원소의 개수: 10

In [19]:
# 주피터 환경에서 노트북 위의 +을 눌러(또는 커맨드 모드에서 b를 눌러) 셀을 추가하고 리스트를 생성해 원소의 개수를 출력해봅시다.
try_list = [1,2,3]
print(len(try_list))

3

In [20]:
# 리스트 자체가 두 번 생성됨
# 너무 신기하다..
data_list * 2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
# 리스트에 원소를 추가하거나 삭제하는 방법을 찾아보고 실행해 봅시다.
data_list.append(123)
print(data_list)

data_list.remove(123)
print(data_list)

data_list.pop()
print(data_list)

del data_list[len(data_list) - 1]
print(data_list)

[2, 3, 5, 6, 7, 8, 9, 10, 123, 123, 123, 123, 123, 123]
[2, 3, 5, 6, 7, 8, 9, 10, 123, 123, 123, 123, 123]
[2, 3, 5, 6, 7, 8, 9, 10, 123, 123, 123, 123]
[2, 3, 5, 6, 7, 8, 9, 10, 123, 123, 123]

In [16]:
# 딕셔너리
dic_data = {'apple': 100, 'banana': 100, 'orange': 300, 'mango': 400, 'melon': 500}
print(dic_data['melon'])

500

In [34]:
# 위의 코드에서는 melon의 값을 출력했는데, 이번에는 orange의 값을 출력해 봅시다. 또 키가 apple, orange인 값을 서로 더해 봅시다.
print(dic_data['orange'])
print('더하기 apple + orange =', dic_data['apple'] + dic_data['orange'])

300
더하기 apple + orange = 400

In [39]:
# 딕셔너리 데이터에 새로운 원소를 추가하거나 삭제하는 방법을 찾아보고 실행해 봅시다.
# dic_data['grape'] = 700 # 추가
# del dic_data['apple'] # 삭제

print(dic_data)

{'banana': 100, 'orange': 300, 'mango': 400, 'melon': 500, 'grape': 700}

In [ ]:
# 파이썬 튜플과 집합에 대해 역할과 사용 방법을 찾아보고 사용해 봅시다.