In [2]:
# 리스트 생성

In [5]:
data_list = [1,2,3,4,5,6,7,8,9,10]
print(data_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
# type 명령으로 변수 형을 알 수 있다
print('변수 형:', type(data_list))

변수 형: <class 'list'>

In [8]:
# 1개의 원소를 출력한다. 0부터 시작하므로 [1]은 두 번째 원솟값이다.
print('두 번째 원소:', data_list[1])

두 번째 원소: 2

In [18]:
# len 함수로 원소의 개수를 출력.
# 여기에서는 1부터 10까지 10개의 원소가 있기 때문에 결과는 10이다.
print('원소의 개수:', len(data_list))

원소의 개수: 10

In [19]:
# 주피터 환경에서 노트북 위의 +을 눌러(또는 커맨드 모드에서 b를 눌러) 셀을 추가하고 리스트를 생성해 원소의 개수를 출력해봅시다.
try_list = [1,2,3]
print(len(try_list))

3

In [20]:
# 리스트 자체가 두 번 생성됨
# 너무 신기하다..
data_list * 2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
# 리스트에 원소를 추가하거나 삭제하는 방법을 찾아보고 실행해 봅시다.
data_list.append(123)
print(data_list)

data_list.remove(123)
print(data_list)

data_list.pop()
print(data_list)

del data_list[len(data_list) - 1]
print(data_list)

[2, 3, 5, 6, 7, 8, 9, 10, 123, 123, 123, 123, 123, 123]
[2, 3, 5, 6, 7, 8, 9, 10, 123, 123, 123, 123, 123]
[2, 3, 5, 6, 7, 8, 9, 10, 123, 123, 123, 123]
[2, 3, 5, 6, 7, 8, 9, 10, 123, 123, 123]

In [16]:
# 딕셔너리
dic_data = {'apple': 100, 'banana': 100, 'orange': 300, 'mango': 400, 'melon': 500}
print(dic_data['melon'])

500

In [34]:
# 위의 코드에서는 melon의 값을 출력했는데, 이번에는 orange의 값을 출력해 봅시다. 또 키가 apple, orange인 값을 서로 더해 봅시다.
print(dic_data['orange'])
print('더하기 apple + orange =', dic_data['apple'] + dic_data['orange'])

300
더하기 apple + orange = 400

In [39]:
# 딕셔너리 데이터에 새로운 원소를 추가하거나 삭제하는 방법을 찾아보고 실행해 봅시다.
# dic_data['grape'] = 700 # 추가
# del dic_data['apple'] # 삭제

print(dic_data)

{'banana': 100, 'orange': 300, 'mango': 400, 'melon': 500, 'grape': 700}

In [9]:
# 파이썬 튜플과 집합에 대해 역할과 사용 방법을 찾아보고 사용해 봅시다.
tuple = ('a', 'b', ('ab', 'cd')) # 업데이트 및 삭제 불가

print(tuple)

set1 = set([1,2,3])
print(set1)
print(list(set1))

set1.add(1)
set1.add(7)
set1.add(9)
print(set1)

('a', 'b', ('ab', 'cd'))
{1, 2, 3}
[1, 2, 3]
{1, 2, 3, 7, 9}

In [12]:
1 == 1
1 == 2
1 != 2
1 > 0
1 > 2
(1 > 0) and (10 > 5)
(1 < 0) or (10 > 5)
not (1 < 0)

True

In [14]:
value = 5
data_list = [1,2,3,4]

if value in data_list:
    print('{0}은 들어 있습니다.'.format(value))
else:
    print('{0}은 들어 있지 않습니다.'.format(value))

print('여기서부터는 if 문과 관계없이, 반드시 표시됩니다.')

5은 들어 있지 않습니다.
여기서부터는 if 문과 관계없이, 반드시 표시됩니다.

In [19]:
# 출력 결과가 바뀌도록 숫자를 바꿔 실행해 봅시다. 또 조건문이나 출력 결과 등을 바꿔 봅니다.
value = 3

if value in data_list:
    print('{0}은 들어 있습니다.'.format(value))
else: 
    print('{0}은 들어 있지 않습니다.'.format(value))

3은 들어 있습니다.

In [22]:
print('{0}와 {1}을 더하면 {2}입니다'.format(2,3,5))

2와 3을 더하면 5입니다

In [24]:
# 초깃값 설정
total = 0

# for 문
for number in [1,2,3,4]:
    print('number:', number)
    total = total + number

print('total:', total)

number: 1
number: 2
number: 3
number: 4
total: 10

In [27]:
dic = {'apple': 100, 'banana': 100, 'orange': 300, 'mango': 400, 'melon': 500}
for key in dic:
    print(key, dic[key])

apple 100
banana 100
orange 300
mango 400
melon 500

In [29]:
for index in range(11):
    print(index)

0
1
2
3
4
5
6
7
8
9
10

In [31]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [34]:
for key, value in dic.items():
    print(key, value)

apple 100
banana 100
orange 300
mango 400
melon 500

In [35]:
# 컴프리헨션
[i * 2 for i in [1,2,3,4]]

[2, 4, 6, 8]

In [37]:
data_list1 = []

data_list1 = [i * 2 for i in [1,2,3,4]]
print(data_list1)

[2, 4, 6, 8]

In [39]:
[i * 2 for i in [1,2,3,4] if i % 2 == 0]

[4, 8]

In [41]:
# zip 함수

print(zip([1,2,3], [4,5,6]))

<zip object at 0x104c60e00>

In [43]:
for one, two in zip([1,2,3] , [11, 12, 13]):
    print(one, '과', two)

1 과 11
2 과 12
3 과 13

In [45]:
num = 1

while num <= 10:
    print(num)
    num = num + 1

print('마지막 값은 {0}입니다'.format(num))

1
2
3
4
5
6
7
8
9
10
마지막 값은 11입니다

In [47]:
def calc_multi(a, b):
    return a * b
calc_multi(2,4)

8

In [50]:
# 피보나치 구현
def calc_fib(n):
    if n == 1 or n == 2:
        return 1
    else:
        return calc_fib(n - 1) + calc_fib(n - 2)

print('피보나치 수:', calc_fib(10))

피보나치 수: 55

In [52]:
(lambda a, b: a * b)(3,9)

27

In [57]:
def double(x):
    return x * 2

for num in [1, 2, 3, 4]:
    print(double(num))

list(map(double, [1,2,3,4]))
list(map(lambda x: x * 2, [1,2,3,4]))

2
4
6
8

[2, 4, 6, 8]

In [60]:
# reduce 함수나 filter 함수의 사용 방법을 찾아보고 직접 사용해 봅시다.

def isTwo(x):
    return x == 2

list(filter(isTwo, [1,2,3,4]))
# list(reduce(lambda acc, curr: acc + curr, [1,2,3,4]))

[2]

In [65]:
# 연습문제 1-1
# 어떤 문자열(Data Science 등)을 변수로 저장하고 그것을 한 문자씩 출력하는 프로그램을 작성하세요.

data = 'Data Science'

for str in data:
    print(str)

def console(x):
    print(x)
    return x
    
list(map(console, data))

D
a
t
a

S
c
i
e
n
c
e
D
a
t
a

S
c
i
e
n
c
e

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

In [70]:
# 연습문제 1-2
# 1부터 50까지 자연수의 합을 계산해 최종적으로 합산 결과를 출력하는 프로그램을 작성하세요.
from functools import reduce

print(reduce(lambda acc, curr: acc + curr, range(51)))

1275

In [73]:
class PrintClass:
    def print_me(self):
        print(self.x, self.y)

print1 = PrintClass()

print1.x = 10
print1.y = 100
print1.z = 1000

print1.print_me()
print1.z

10 100

1000

In [77]:
class MyCalcClass:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    
    def add1(self, a, b):
        return a + b
    
    def add2(self):
        return self.x + self.y
    
    def multi(self, a, b):
        return a * b

    def calc_print(self, a):
        print('data:{0}:y의 값{1}'.format(a, self.y))

instance_1 = MyCalcClass(1, 2)
instance_2 = MyCalcClass(5, 10)

print('2개의 수를 더함(새로운 숫자를 인수로 지정):', instance_1.add1(5, 3))
print('2개의 수를 더함(인스턴스화 될 때의 값):', instance_1.add2())
print('2개의 수를 곱함:', instance_1.multi(5, 3))
instance_1.calc_print(5)

print('2개의 수를 더함(새로운 숫자를 인수로 지정):', instance_2.add1(10, 3))
print('2개의 수를 더함(인스턴스화 될 때의 값):', instance_2.add2())
print('2개의 수를 곱함:', instance_2.multi(4, 3))
instance_2.calc_print(20)

2개의 수를 더함(새로운 숫자를 인수로 지정): 8
2개의 수를 더함(인스턴스화 될 때의 값): 3
2개의 수를 곱함: 15
data:5:y의 값2
2개의 수를 더함(새로운 숫자를 인수로 지정): 13
2개의 수를 더함(인스턴스화 될 때의 값): 15
2개의 수를 곱함: 12
data:20:y의 값10

In [80]:
# 위의 클래스(MyCalcClass)를 사용해 새로운 인스턴스를 생성해(instance_3 같은) 무엇이라도 출력해봅시다. 또한 가능하면 다른 메서드(인수 2개의 차이 값 등)를 이 클래스에 추가하고 호출해 봅시다.

class Calc:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    
    def add1(self, a, b):
        return a + b
    
    def add2(self):
        return self.x + self.y
    
    def multi(self, a, b):
        return a * b

    def get_list(self):
        return list([self.x, self.y])

    def calc_print(self, a):
        print('data:{0}:y의 값{1}'.format(a, self.y))

instance3 = Calc(87,3)

print(instance3.get_list())
instance3.add1(99, 33)

[87, 3]

132

In [ ]:
# 종합문제
# 1. 10까지의 소수를 출력하는 프로그램을 작성하세요. 여기서 소수는 약수가 1과 자기자신뿐인 양의 정수를 말합니다.

def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    
    i = 5
    while i * i <= n:  # 또는 i <= int(n**0.5)
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6  # 6씩 증가하면서 6k+1, 6k+5 형태의 수만 확인
    
    return True